
body {
  font: 11px "Helvetica Neue", "Lucida Grande", "Arial";
  letter-spacing: -1px;
	color: #222;
	background: #fff;
}

#header, #error {
	width: 600px;	
	margin-left: 100px
}

#header {
	margin-top: 80px;
	padding-left: 15px;
}

#header h1 {
	color: #7896f5;
	font-size: 48px;
}

#error {
	background: #f8f8f8;
	border-color: #e8e8e8;
	border-style: solid;
	border-width: 1px 1px 1px 6px;
	padding: 20px 15px 20px 15px;
}