<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">blueprint</a> / this is a blog</h1>
    </div>
    <div id="login">
      <form id="process" action="/login" method="post">
        <p><input type="text" name="email" id="email" placeholder="email address…" /></p>
        <p><input type="password" name="password" id="password" placeholder="password…" /></p>
        <p class="right"><input type="submit" class="submit" value="Login" /></p>
      </form>
    </div>
  </div>
</body>
</html>