
* {
  margin: 0;
  padding: 0; 
}

body { 
  font-size: 12px;
  line-height: 18px;
  font-family: "Lucida Grande", sans-serif;
} 

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@font-face {
  font-family: "CustomDidot";
  src: url(../fonts/Didot.ttf) format("truetype");
}

a, a:visited, a:hover {
  color: #000;
  text-decoration: none;  
}

#github {
  position: absolute; 
  top: 0; 
  right: 0; 
}

#github a {
  text-decoration: none;
}

#github a img {
  border: none;
}

#container {
  width: 600px;
  position: relative;
  margin: 0 auto 0 auto;
  margin-top: 120px;
}

h1 {
  font-family: "CustomDidot", "Helvetica Neue", Helvetica, Tahoma;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

#header h1 {
  padding-bottom: 20px;
  color: #444;
  text-transform: uppercase; 
}

#header h1 {
  color: #777;
  font-style: italic;
}

#header h1 a {
  color: #000;
  border-bottom: 1px solid #000;
  font-style: none;
}

.post {
  margin: 50px 0 50px 0;
}

.post h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.post p {
  color: #222;
}

.post p.meta {
  margin: 10px 0 10px 0; 
}
 
#footer {
}

#footer a {
  color: #000;
  border-bottom: 1px solid #000;  
}

/* EOF */